Source: psrcat
Section: science
Priority: optional
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://www.atnf.csiro.au/people/pulsar/psrcat/

Package: psrcat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ATNF Pulsar Catalogue
 The catalogue includes all published rotation-powered pulsars, including those
 detected only at high energies. It also includes Anomalous X-ray Pulsars (AXPs)
 and Soft Gamma-ray Repeaters (SGRs) for which coherent pulsations have been
 detected. However, it excludes accretion-powered pulsars such as Her X-1 and
 the X-ray millisecond pulsars.
